body {
    background-color: rgb(137, 172, 202);
}
h1 {
    text-align: center;
}
.deleteAndEdit {
    text-align: center;
}
nav {
    margin: 0 250px 0 250px
}
div {
    display: block;
}
.add {
    font-size: 35px;
    text-align: center;
}
.container {
    margin: 0 auto 0 auto;
    max-width: 1280px;
}
.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-bottom: 20px;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem 0 0.75rem;
    min-height: 1px;
    width: 33.333%;
}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}
.card .card_img {
    position: relative;
}
.img_size {
    height: 250px;
}

.card .card_img img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
}


.card .name{
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 16px 24px;
}
nav .nav{
    float: left;
    font-size: 16px;
}

nav .menuAlignment {
    text-align: right;
    font-size: 16px;
}

.alert-danger {
    background-color: red;
}

.detail img{
    height: 350px;
    width: 350px;
}