<h1>Add A Style</h1>

<form method="post" action="/style/add" class="content"> 



    <div>
        <label>Name: </label>
        <input type="text" name="name">
    </div>

    <div>
        <label>Picture's URL: </label>
        <input type="text" name="picture">
    </div>

    <div>
        <label>Description: </label>
        <input type="text" name="description">
    </div>

    <button type="submit">Add a Style</button>

</form>


