<h1><%= style.name %></h1>

<div class="container">
    <div class="row">
        <% knifes.forEach(function(knife) { %>
            <div class="col">
                <div class="card">
                    <div class="card_img img_size">
                        <img calss="img_size" src="<%= knife.picture %>" >
                    </div>
                    <div class="name">
                        <a href="/:id=<%= knife.id %>">
                            <%= knife.length %>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div> 
