<h1>Add A Knife</h1>

<form method="post" action="/knife/add">
    <div>
        <label>Length: </label>
        <input type="text" name="length">
    </div>

    <div>
        <label>Picture's URL: </label>
        <input type="text" name="picture">
    </div>

    <div>
        <label>Price: </label>
        <input type="text" name="price">
    </div>

    <button type="submit">Add a Brand</button>

</form>