<h1> <%= welcomeMessage %> </h1>

<div class="add">
    <% if(currentUser) { %> 
        <% if(currentUser.isManager == true) { %> 
            <a href="/brand/add"> Add a Brand</a><br><br>
            <a href="/style/add"> Add a Style</a><br><br>
            <a href="/knife/add"> Add a Knife</a>
        <% } %>
    <% } %>
</div>
