<h1>Add A Brand</h1>

<form method="post" action="/brand/add">
    <div>
        <label>Name: </label>
        <input type="text" name="name">
    </div>

    <div>
        <label>Logo's URL: </label>
        <input type="text" name="logo">
    </div>

    <div>
        <label>Description: </label>
        <input type="text" name="description">
    </div>

    <button type="submit">Add a Brand</button>

</form>


