<h1><%= brand.name %></h1>

<div class="container">
    <div class="row">
        <% styles.forEach(function(style) { %>
            <div class="col">
                <div class="img">
                    <img calss="img_size" src="<%= style.picture %>" >
                </div>
            </div>
            <div class="name">
                <a href="/style/:id=<%= style.id %>">
                    <%= style.name %>
                </a>
            </div>
        <% }) %>
    </div>
</div> 

